<div class="row">
    <div>
    	<h1>The value of F({{request.GET.N}}) = {{result}}</h1>
    </div>

	<form method="GET" action="{% url 'query' %}" > {% csrf_token %}
		<label for="f0">F0 : </label>
		<input type="number" name="f0" id="f0" min='0' value="{{request.GET.f0}}"> <br /> <br />
		<label for="f1">F1 : </label>
		<input type="number" name="f1" id="f1" min='1' value="{{request.GET.f1}}"> <br /> <br />
		<label for="n">N   :  </label>
		<input type="number" name="N" id="n" min='1' value="{{request.GET.N}}"> <br /> <br />
		<button type="submit", class="btn btn-default">Submit</button>
	</form>
</div>
